.text{
    font-size: 3rem;
    text-align: center;
    margin-left: 6rem;
    margin-bottom: 1rem;
}
.text-1{
    color: rgb(65, 65, 65);
}
.div-1{
    width: 40rem;
    height: 10rem;
    margin-top: 10rem;
    margin-left: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
#button{
    width: 15rem;
    border: none;
    color: white;
    margin-top: 1rem;
    margin-left: 6rem;
    background-color: black;
    height: 2rem;
}
.image{
    position: absolute;
    right: 13rem;
    top: 15rem;
    width: 28rem;
}